[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/nosecompiler"]
	path = bundle/nosecompiler
	url = https://github.com/olethanh/Vim-nosecompiler.git
[submodule "bundle/makegreen"]
	path = bundle/makegreen
	url = https://github.com/reinh/vim-makegreen.git
[submodule "bundle/pythoncomplete"]
	path = bundle/pythoncomplete
	url = https://github.com/vim-scripts/pythoncomplete.git
[submodule "bundle/pythonhelper"]
	path = bundle/pythonhelper
	url = https://github.com/saghul/pythonhelper.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
